body {
    margin: 0;
    padding: 0;
    background: #f7f9fc;
    color: #333;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
}

.heading {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.note-list {
    list-style: none;
    padding: 0;
}

.note-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.note-item h2 {
    margin: 0 0 10px;
    font-size: 22px;
}

.note-item p {
    margin: 0 0 15px;
}

.date {
    font-size: 12px;
    color: #777;
}

.empty {
    text-align: center;
    color: #777;
    font-style: italic;
}






.form-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 16px;
}

textarea {
    min-height: 120px;
}

.btn {
    background: #1A73E8;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.btn:hover {
    background: #1558b0;
}

.add-btn {
    display: inline-block;
    margin-bottom: 20px;
}

.actions a {
    margin-right: 10px;
}

.edit {
    color: #1A73E8;
}

.delete {
    color: #E63946;
}

.back {
    display: block;
    margin-top: 20px;
    color: #333;
}